.woman-mobile {
  width: 23.7rem;
  height: 18rem;
  position: absolute;
  top: -10.6rem;
  left: 4.3rem;
}
.shadow {
  width: 24rem;
  height: 10.8rem;
  position: absolute;
  top: -0.3rem;
  left: 4.3rem;
}
.box-img {
  display: none;
}

@media only screen and (min-width: 90rem) {
  .woman-mobile,
  .shadow {
    display: none;
  }

  .box-img {
    display: block;
    position: absolute;
    top: 20rem;
    left: -9rem;
    z-index: 3;
  }
}
