.question {
  color: #4b4c5f;
}
.answer {
  color: #787887;
}
.question-div {
  margin-bottom: 1.9rem;
  border-bottom: 0.1rem solid #e8e8ea;
  padding-bottom: 1.8rem;
  cursor: pointer;
  position: relative;
}
.question-div p {
  margin-bottom: 0.1rem;
}
.arrow {
  position: absolute;
  right: 0.1rem;
  top: 0.6rem;
}
