.question-div {
  margin-bottom: 1.9rem;
  border-bottom: 0.1rem solid #e8e8ea;
  padding-bottom: 1.8rem;
  cursor: pointer;
  position: relative;
}

.question {
  color: #4b4c5f;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
.question:hover {
  color: #f47b56;
}
.answer {
  color: #787887;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.arrow {
  position: absolute;
  right: 0.1rem;
  top: 1rem;
}

@media only screen and (min-width: 90rem) {
  .question {
    font-size: 1.4rem;
  }
  .arrow {
    right: 1.5rem;
  }
}
