.question {
  color: #4b4c5f;
}
.answer {
  color: #787887;
}
.question-div {
  margin-bottom: 19px;
  border-bottom: 1px solid #e8e8ea;
  padding-bottom: 18px;
  cursor: pointer;
  position: relative;
}
.question-div p {
  margin-bottom: 10px;
}
.arrow {
  position: absolute;
  right: 1px;
  top: 6px;
}
