.contaiener {
  margin-top: 12rem;
  width: 32.7rem;
  padding: 13.2rem 2.4rem 4.8rem;
  border-radius: 2.3rem;
  background: #fff;
  box-shadow: 0rem 5rem 5rem -2rem rgba(53, 18, 122, 0.5);
  position: relative;
}

h1 {
  color: #1e1f36;
  margin-bottom: 3.8rem;
  text-align: center;
}
.womanImg {
  width: 23.7rem;
  height: 18rem;
  position: absolute;
  top: -10.6rem;
  left: 4.3rem;
}
.shadow {
  width: 24rem;
  height: 10.8rem;
  position: absolute;
  top: -0.3rem;
  left: 4.3rem;
}
